<md-dialog layout-padding aria-label="Connexion">
    <form ng-cloak name="connexionForm" ng-submit="signin()">
        <h3>Connexion</h3>

        <md-input-container>
            <label>Email</label>
            <input ng-model="email" type="email" required>
            <div ng-messages="connexionForm.email.$error" role="alert">
                <div ng-message when="required">Ce champ est obligatoire</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Mot de passe</label>
            <input ng-model="password" type="password" required>
            <div ng-messages="connexionForm.password.$error" role="alert">
                <div ng-message when="required">Ce champ est obligatoire</div>
            </div>
        </md-input-container>
        <div layout="row">
            <md-button class="md-raised" ng-click="closeDialog()" aria-label="annuler">annuler</md-button>
            <md-button class="md-primary md-raised" type="submit" aria-label="connexion">connexion</md-button>
        </div>
    </form>

</md-dialog>
