<md-dialog layout-padding aria-label="Inscription">
    <form ng-cloak ng-submit="authInscription()">
        <h3>Inscription</h3>
        <md-input-container>
            <label>Login</label>
            <input ng-model="login" type="text" required>
        </md-input-container>
        <md-input-container>
            <label>Nom</label>
            <input ng-model="name" type="text" required>
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input ng-model="email" type="email" required>
        </md-input-container>
        <md-input-container>
            <label>Mot de passe</label>
            <input ng-model="password" type="password" required>
        </md-input-container>
        <md-input-container>
            <label>Confirmer le mot de passe</label>
            <input ng-model="confirmPassword" type="password" required>
        </md-input-container>
        <md-input-container>
            <md-radio-group ng-model="typeUser">
                <md-radio-button ng-value="1">Etudiant</md-radio-button>
                <md-radio-button ng-value="2">Professeur</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <div layout="row">
            <md-button class="md-raised" ng-click="closeDialog()" aria-label="annuler">annuler</md-button>
            <md-button class="md-primary md-raised" type="submit" aria-label="connexion">inscription</md-button>
        </div>
    </form>

</md-dialog>
