<section layout="row" class="topic-section">
    <studycom-sidenav></studycom-sidenav>
    <section layout="column" flex="100">
        <div class="topic-name" layout="row" layout-align="space-between center">
            <h1>{{topic.nom}}</h1>
            <md-button ng-click="toggleTopicMenu()">
                <md-icon md-svg-src="icons/group_work.svg"></md-icon>
                <md-tooltip>Topic infos</md-tooltip>
            </md-button>
        </div>
        <div class="topic-view" layout="row">
            <div class="topic-feed" flex="grow">

                <md-grid-list md-cols="1" md-row-height="200px">
                    <md-grid-tile ng-repeat="message in messages">
                        <div layout="row" flex="100" layout-align="{{leftOrRight(message)}}">
                            <md-card class="topic-message-card {{authMessage(message)}}" flex="40">
                                <md-card-header layout="row" layout-align="space-around center">
                                    <md-card-avatar>
                                        <img class="md-user-avatar" src="img/avatar.png">
                                    </md-card-avatar>
                                    <md-card-title>
                                        <p><a ng-if="userMessage(message)" ng-click="openUserProfileModal()">{{user.name}}</a></p>
                                        <p><a ng-if="!userMessage(message)" ng-click="openUserProfileModal()">{{message.name}}</a></p>
                                    </md-card-title>
                                </md-card-header>
                                <md-divider></md-divider>
                                <md-card-content class="message-content">
                                    <p class="message-text">{{message.text}}</p>
                                </md-card-content>
                                <md-divider></md-divider>
                                <md-card-content class="message-infos" layout="row" layout-align="space-between center">
                                    <p class="message-date">{{message.dateCreation | date : format : timezone}}</p>
                                    <md-icon class="message-valid-send" md-svg-src="icons/done.svg"></md-icon>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-grid-tile>
                </md-grid-list>


            </div>
            <div class="topic-sidenav" flex="20" ng-show="showTopicMenu">
                <md-toolbar>
                    Informations sur le topic
                </md-toolbar>
                <md-content>
                    <md-button aria-label="Ajouter" ng-click="openAddUsersModal()">
                        <md-icon md-svg-src="icons/add.svg"></md-icon>
                    </md-button>
                    <p>Liste des utilisateurs : </p>
                    <md-list-item ng-repeat="user in users">
                        <p>{{user.name}}</p>
                        <md-button aria-label="Supprimer" ng-click="deleteUserFromTopic(user.id)">
                            <md-icon md-svg-src="icons/clear.svg"></md-icon>
                        </md-button>

                    </md-list-item>
                    <a class='btn' ng-click="leaveTopic()">Quitter le topic</a>
                </md-content>

            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="center center" class="topic-response-bar md-padding">
            <md-input-container flex="80">
                <textarea aria-label="message" ng-model="message"></textarea>
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="addMessage()" flex="20" ng-disabled="message==''">
                <md-icon md-svg-src="icons/message.svg"></md-icon>
                <md-tooltip md-direction="top">Envoyer un message</md-tooltip>
            </md-button>

        </div>

    </section>
</section>