<md-dialog layout-padding aria-label="Ajouter un contact" flex="30">
    <form ng-cloak name="addContactForm">

        <h3>Ajouter un contact</h3>
        <md-dialog-content>
            <md-input-container>
                <label>Adresse e-mail du contact</label>
                <input ng-model="email" type="text" required>
                <div ng-messages="addContactForm.email.$error" role="alert">
                    <ng-message when="required">Un email est obligatoire</ng-message>
                </div>
                <div class="error-message" ng-if="userNotFound">Contact non trouvé</div>
                <div class="error-message" ng-if="userAlreadyContact">Vous avez déjà ajouté cet utilisateur</div>
                <div class="error-message" ng-if="userAlreadyReceiveRequest">Vous avez déjà envoyé une demande de contact</div>
                <div class="error-message" ng-if="userIsHimself">Vous ne pouvez pas vous inviter vous même</div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="closeDialog()" aria-label="annuler">annuler</md-button>
            <md-button class="md-primary md-raised" ng-disabled="form.$invalid" ng-click="sendContactRequest()" aria-label="valider">valider</md-button>
        </md-dialog-actions>
    </form>

</md-dialog>
