<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">
    <md-content>
        <div layout="row" layout-align="space-between center">
            <md-menu-item>
                <md-icon flex="10" md-svg-src="icons/school.svg"></md-icon>
                <a href="#/profil">{{user.name}}</a>
            </md-menu-item>
            <md-menu md-offset="120 30">
                <md-button ng-click="$mdMenu.open($event)" class="md-raised">
                    <md-icon md-svg-src="icons/add.svg"></md-icon>
                    <md-tooltip md-direction="top">Nouveau</md-tooltip>
                </md-button>
                <md-menu-content class="md-padding sidenav-menu">
                    <md-menu-item>
                        <md-icon flex="20" md-svg-src="icons/forum.svg"></md-icon>
                        <md-button flex="80" ng-click="openAddTopicDialog()">Nouveau topic</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-icon flex="20" md-svg-src="icons/person_add.svg"></md-icon>
                        <md-button flex="80" ng-click="openAddContactDialog()">Nouveau contact</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <md-tabs md-align-tabs md-dynamic-height md-border-bottom>
            <md-tab flex label="Topics">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item><a href="#/topic/1">Histoire</a></md-list-item>
                        <md-list-item><a href="#/topic/2">Maths</a></md-list-item>
                        <md-list-item><a href="#/topic/3">SVT</a></md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab flex label="Contacts">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item>Sakho</md-list-item>
                        <md-list-item>John</md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</md-sidenav>