<md-dialog layout-padding aria-label="Profil de" flex="40" class="user-profile-modal">
    <md-dialog-title layout="row" layout-align="space-between">

            <h3>{{author.name}}</h3>
            <md-button class="md-raised" ng-click="closeDialog()" aria-label="annuler">
                <md-icon md-svg-src="icons/clear.svg"></md-icon>
            </md-button>

    </md-dialog-title>
    <md-dialog-content>
        <div>
            <div layout="row" class="user-profile-modal-first-part">
                <img src="img/avatar.png" flex="40">
                <md-list flex="60">
                    <md-list-item>
                        <md-input-container>
                            <label>Login</label>
                            <input ng-model="author.login" type="text" ng-disabled="true">
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <label>Nom</label>
                            <input ng-model="author.name" type="text" ng-disabled="true">
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <label>Adresse e-mail</label>
                            <input ng-model="author.email" type="email" ng-disabled="true">
                        </md-input-container>
                    </md-list-item>
                </md-list>
            </div>
            <div layout="row" layout-align="space-around center" class="user-profile-modal-second-part">
                <md-menu-item flex="30">
                    <p>Nombre de contact(s) : {{numberOfContacts}}</p>
                </md-menu-item>
                <md-menu-item flex="30">
                    <p>{{mutualContacts}} contact(s) en communs</p>
                </md-menu-item>
                <md-menu-item flex="30">
                    <p>{{mutualTopics}} topic(s) en communs</p>
                </md-menu-item>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-if="isInAuthorContacts() && author.id != user.id" aria-label="ajouter" ng-click="addContact()">
            <md-icon md-svg-src="icons/person_add.svg"></md-icon>
        </md-button>
    </md-dialog-actions>

</md-dialog>
